<div class="container-fluid" id="invest_portfolio">
  <div class="row-fluid">
    <div class="span6 content-start portfolio">
      {% block portfolio_header %}{% endblock portfolio_header %}
      <div class="row-fluid">
        {% block portfolio_max_gainer %}{% endblock portfolio_max_gainer %}
        {% block portfolio_max_loser %}{% endblock portfolio_max_loser %}
      </div>
    </div> <!-- end: portfolio -->
    <!-- start: portfolio graph -->
    <div data-bind="visible: showToday" class="span6 portfolio-graph" id="portfolioGraph_today">
    </div>
    <div data-bind="visible: !showToday()" class="span6 portfolio-graph" id="portfolioGraph_total">
    </div>
    <!-- end: portfolio graph -->
  </div><!-- end: portfolio row-fluid -->
  <div class="row-fluid trans-div">
    {% block profile_select_div %}{% endblock profile_select_div %}
    {% block portfolio_trans %}{% endblock portfolio_trans %}
  </div><!-- end: portfolio transaction div -->
</div><!-- end: container fluid -->
{% include "utils/modals.html" %}

<script>
var applyFormBindings = function (data, tab_id) {
  var model = new Application.stockWatcher.investment.portFolio(data);
  ko.applyBindings(model, $(tab_id)[0]);
};
</script>
