{% extends "get_invest_base.html" %}

{% block portfolio_header %}
<div class="row-fluid">
    <div class="portfolio-header">
        <p class="portfolio-header-desc" > MY NETWORTH </p>
        <p data-bind="with: totalDetails">
            <span class="portfolio-header-value" data-bind="text: totalValue"></span>
            <span>&nbsp;</span>
            <span class="portfolio-positive"><strong data-bind="text: dayChange"></strong> </span>
            <span class="portfolio-positive" data-bind="text: dayChangePercent"></span>
            <span> <img data-bind="attr: {src: $parent.changeImage, 'height': '22', 'width': '22'}, css: 'img-circle'"></img></span>
        </p>
    </div>
</div>
{% endblock portfolio_header %}

{% block portfolio_max_gainer %}
<div class="span6 portfolio-lower1" data-bind="with: maxGainerDetails">
    <p class="portfolio-header-desc" > MAX GAINER </p>
    <p class="portfolio-lower-company" data-bind="text: maxGainerName"></p>
    <p class="portfolio-lower-value" data-bind="text: maxGainerValue"></p>
    <p>
    <span class="portfolio-lower-positive"><strong data-bind="text: maxGainerChange"></strong></span>
        <span class="portfolio-lower-positive" data-bind="text: maxGainerChangePercent"></span>
        <span> <img src="/static_files/images/up.gif" class="img-circle" height="20" width="20"></img></span>
    </p>
</div>   
{% endblock portfolio_max_gainer %}

{% block portfolio_max_loser %}
<div class="span6 portfolio-lower2" data-bind="with: maxLoserDetails">
    <p class="portfolio-header-desc" > MAX LOSER </p>
    <p class="portfolio-lower-company" data-bind="text: maxLoserName"></p>
    <p class="portfolio-lower-value" data-bind="text: maxLoserValue"><p>
    <p>
        <span class="portfolio-lower-negative"><strong data-bind="text: maxLoserChange"></strong></span>
        <span class="portfolio-lower-negative" data-bind="text: maxLoserChangePercent"></span>
        <span> <img src="/static_files/images/down.gif" class="img-circle" height="20" width="20"></img></span>
        <p>
</div>
{% endblock portfolio_max_loser %}

{% block portfolio_tail %}
<div class="row-fluid">
    {{ self.portfolio_max_gainer() }}
    {{ self.portfolio_max_loser() }}
</div>    
{% endblock portfolio_tail %}

{% block portfolio_company_details %}
<div data-bind="css: 'collapse', attr: {'id': name1}" style="background: green">
    Testing
</div>
{% endblock portfolio_company_details %}

{% block portfolio_company_details_row %}
<tr class="company-details">
    <td colspan="3"> {{ self.portfolio_company_details() }}</td>
</tr>
{% endblock portfolio_company_details_row %}

{% block portfolio_company_row %}
<tr class="company-name">
    <td>
        <a data-bind="css: 'company-name', text: name1,
            attr: { 'data-toggle':'collapse', 'data-target': link_id}">
        </a>
    </td>
    <td><span data-bind="text: name2"></span></td>
    <td><span data-bind="text: name3"></span></td>
</tr>
{% endblock portfolio_company_row %}

{% block portfolio_trans %}
<div class="trans-table-head-append">
</div>
<div>
    <table class="table trans-table">
        <thead>
            <tr class="trans-table-head" data-bind="foreach: tableHeaders">
                <th><span data-bind="text: $data"></span></th>
            </tr>
        </thead>
        <tbody  data-bind="foreach: tableRows">
            {{ self.portfolio_company_row() }}
            {{ self.portfolio_company_details_row() }}
        </tbody>
    </table>
</div>
<div class="trans-table-tail-append">
</div>
{% endblock portfolio_trans %}   

