<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static_files/css/standard/jquery-ui.css" rel="stylesheet">
  <link href="/static_files/css/standard/jquery-impromptu.css" rel="stylesheet">
  <link href="/static_files/css/standard/bootstrap.min.css" rel="stylesheet">
  <link href="/static_files/css/standard/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="/static_files/css/standard/jquery.jqplot.min.css" rel="stylesheet">
  
  <link href="/static_files/css/application/basic.css" rel="stylesheet">
  <link href="/static_files/css/application/portfolio.transaction.css" rel="stylesheet">
  <link href="/static_files/css/application/utils/modals.css" rel="stylesheet">

  <script src="/static_files/js/standard/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static_files/js/standard/jquery-ui.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static_files/js/standard/jquery-impromptu.min.js" type="text/javascript" charset="utf-8">
  </script>
  <script src="/static_files/js/standard/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static_files/js/standard/sammy.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static_files/js/standard/knockout-2.2.1.js" type="text/javascript" charset="utf-8"></script>
  
  <script src="/static_files/js/application/basic.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static_files/js/application/urlRoutes.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static_files/js/application/tabs.js" type="text/javascript" charset="utf-8"></script>
  <script src="/static_files/js/application/utils/notifications.js" type="text/javascript" charset="utf-8"></script>
  
  <script type="text/javascript">
      $(document).ready(function() {
        Application.Routing.Configure();
        Application.Routing.run();
        
        $('#loader').hide();  
        $('#main-nav li a').on('click', function() {
          $(this).parent().parent().find('.active').removeClass('active');
          $(this).parent().addClass('active').css('font-weight', 'bold');
        });
      });
    </script>
</head>
<title>
  {% block title %}{% endblock title %} - Web Page
</title>

<body>
  <div class="page-content" id="page-content">
    {% block loader %}{% endblock loader %}
    {% block totalContent %}{% endblock totalContent %}
  </div>
  {% block footer %}{% endblock footer%}
</body>
</html>
