<div id="transAddModal" class="modal hide fade tansAddModal" data-bind="with: $root.transModalDetails">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel" data-bind="text:headerName"></h3>
  </div>
  <div id="transModalBody" class="modal-body">
    <table class="table">
      <thead class="trans-table-head" >
        <tr>
          <th class="trans-table-head-company"-><span>Company</span></th>
          <th><span class="modal-header">Price</span></th>
          <th><span class="modal-header">Date</span></th>
          <th><span class="modal-header">Shares</span></th>
          <th><span class="modal-header">Comments</span></th>
          <th><span><i data-bind="css: 'icon-plus-sign, company-action-column'"></i></span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><a data-bind="text: companyName, css: 'company-name-column'"></a></td>
          <td><input data-bind="value:sharePrice" type="text" class="input-mini"/></td>
          <td><input data-bind="attr:{ id: datePickerId}, value:date" type="text" class="input-small"/></td>
          <td><input data-bind="value:totalShares" type="text" class="input-mini"/></td>
          <td><input data-bind="value:comments" type="text" class="input-medium"/></td>
          <td><i data-bind="css: 'icon-remove-sign, company-action-column'"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn, modal-close-button" data-dismiss="modal" aria-hidden="true">Close</button>
    <button data-bind="css: 'btn modal-default-button', click: saveAction">Save changes</button>
  </div>
</div>
<script>
(function (stockWatcher, $) {
  stockWatcher.transModals = function transModals(data, parent) {
    var self = this;
    self.datePickerId = ko.observable("date-picker");
    self.headerName = ko.observable(data.headerName || 'Add New Transaction');
    self.companyName = ko.observable(data.companyName || '');
    self.sharePrice = ko.observable(data.invPrice || '');
    self.date = ko.observable(data.invDate || '');
    self.totalShares = ko.observable(data.quantity || '');
    self.comments = ko.observable(data.comments || '');
    self.saveAction = function saveAction() {
      alert(self.date());
    }
    $('#transAddModal').on('shown', function () {
        $("#"+self.datePickerId()).datepicker()
    });
  };
}(Application.namespace("Application.stockWatcher"), jQuery));
</script>
