/* These CSS class and details are used 
   to display the Trasaction History table details
   of the investment page
*/
.trans-history-div{
  margin-top:10px;
}
.trans-history-table-head-append{
  position: relative;
  background: #006699;
  border-radius: 2em 2em 0px 0px;
  padding: 5px;
  margin-left: -1px;
  behavior: url(/static_files/pie/PIE.htc);
}
.trans-history-table-div{
  margin-right: -3px;
  margin-left: 1px;
}
/* Portfolio Companies Total Investment Detail */
.trans-history-table{
  border: 1px double #006699;
  border-bottom: none;
  padding: 0px;
  margin: -2px;
  background: #ffffff;
  table-layout:fixed;
  border-collapse: separate;
}
.trans-history-table-head{
  background: #006699;
  color: #ffffff;
  border: none;
  word-wrap: break-word; 
}
.trans-history-table-head-company{
  width: 150px;
}
.trans-history-table-head th span{
  text-align: center;
  margin: 0px;
}
table.table.trans-history-table td{
  padding: 6px;
}
td.history-company-name-column{
  text-align:left;
  border-top: none;
  border-bottom: 1px double #006699;
}
.history-company-name-name-link {
  font: bold 12px/12px Arial;
  color: #1e5695;
  text-decoration: none;
  padding-bottom:5px;
  font-weight: bold;
}
td.history-trans-detail-column{
  border-top: none;
  border-bottom: 1px double #006699;
  font: bold 12px/12px Arial;
  color: #000000;
  text-decoration: none;
  text-align:left;
  vertical-align: middle;
}
.history-company-action-column{
  cursor: pointer;
  background-color: #ffffff;
}
td.history-trans-detail-last-row {
  border-top: none;
  border-bottom: none; 
  font: bold 12px/12px Arial;
  color: #000000;
  text-decoration: none;
  text-align:left;
  vertical-align: middle;
}
.trans-history-table-tail-append{
  position: relative;
  border: 1px double #006699;
  border-radius: 0px 0px 2em 2em;
  border-top: none;
  padding: 5px;
  margin-left: -1px; 
  behavior: url(/static_files/pie/PIE.htc);
}
.trans-history-filters{
  margin-top: 10px;
}

.trans-history-filters label {
  display: inline;
}
.trans-filter-button {
  vertical-align: top;
}